:root{
    --green:#386b1bbe;
    }
    *{
        margin: 0; padding: 0;
        box-sizing:border-box ;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        outline: none; border: none;
        text-decoration: none;
        text-transform: capitalize;
        transition: 2s linear;
    }
    html{
       font-size: 62.5%;
       scroll-behavior: smooth;
       scroll-padding-top: 6rem;
       overflow-x:hidden ;
    }
    section{
        padding: 2rem 9%;
    }
    .btn{
        display: inline-block;
        margin-top: 1rem ;
        border-radius: 5rem;
        background: #333;
        color: #fff;
        padding: .9rem 3.5rem;
        cursor: pointer;
        font-size: 1,7rem;
    
    }
    .btn:hover{
        background: var(--green);
    }
    header{
        position: absolute;
        top: 0; left: 0; right: 0;
        background: #fff;
        padding: 2rem 9%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
    }
    header .logo{
        font-size: 3rem;
        color: #333;
        font-weight: bolder;
    }
    header .logo span{
    color: var(--green);
    }
    header .navbar a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #666;
    }
    header .navbar a:hover{
        color: var(--green);
        }
        header .icons a{
            font-size:3rem ;
            color: #333;
            margin-left: 1.5rem;
        }
        header .icons a:hover{
            color: var(--green);
        }
        header #toggler{
            display: none;
        }
    header .fa-bars{
        font-size: 3rem;
        color: #333;
        border-radius: 5rem;
        padding: 5rem 1.5rem;
        cursor: pointer;
        border: 1rem solid rgba(0, 0, 0, 3);
        display: none;
    }
    
    
    .home {
        display: flex;
        align-items: center;
        min-height: 100vh;
        background:url(img/bg.jpg) no-repeat;
        background-size: cover;
        background-position: center;
    }
    .home .content{
        max-width: 50rem;
    }
    .home .content h3{
        font-size: 6rem;
        color: #333;
    }
    .home .content span{
        font-size: 3.5rem;
        color: var(--green);
        padding: 1rem 0;
        line-height: 1.5;
    }
    .home .content p{
        font-size: 1.5rem;
        color: #999;
        padding: 1rem 0;
        line-height: 1.5;
    }
    
    
    
    .icons-container{
        background: #eee;
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }
    .icons-container .icons{
        background: #fff;
        border: .1rem solid rgba(0, 0, 0, 1);
        padding: 2rem;
        display: flex;
        align-items: center;
        flex:1 1 25rem;
    }
    .icons-container .icons img{
        height: 5rem;
        margin-right: 2rem;
    }
    .icons-container .icons h3{
        color: #333;
        padding-bottom: .5rem;
        font-size: 1.5rem;
    }
    .icons-container .icons span{
        color: #555;
        font-size: 1.3rem;
    }
    

    .heading{
        text-align: center;
        font-size: 4rem;
        color: #333;
        padding: 1rem;
        margin: 2rem 0;
        background:rgba(6, 107, 60, 0.05) ;
    }
    .heading span{
        color: var(--green);
    }
    .review .box-container{
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    .review .box-container .box{
        flex: 1 1 30rem;
        box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 1);
        border-radius:  .5rem;
        padding: 3rem 2rem;
        position: relative;
        border: .1rem solid rgba(0, 0, 0, 1);
    }
    .review .box-container .box .fa-quote-right{
        position: absolute;
        bottom: 3rem; right: 3rem;
        font-size: 6rem;
        color: #eee;
    }
    .review .box-container .box .star i{
        color: var(--green);
        font-size: 2rem;
    }
    .review .box-container .box p{
        color:#999 ;
        font-size: 1.5rem;
        line-height: 1.5;
        padding-top: 2rem;
    }
    .review .box-container .box .user{
        display: flex;
        align-items: center;
        padding-top: 2rem;
    }
    .review .box-container .box .user img{
        height:6rem ;
        width: 6rem;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 1rem;
    }
    .review .box-container .box .user h3{
        font-size: 2rem;
        color: #333;
    }
    .review .box-container .box .user span{
        font-size: 1.5rem;
        color: #999;
    }



    .about .row{
        display: flex;
        align-items: center;
        gap: 2rem;
        flex-wrap: wrap;
        padding: 2rem 0;
        padding-bottom: 3rem;
    }
    .about .row .img-container{
        flex: 1 1 40rem;
        position: relative;
    }
    .about .row .img-container img{
        width: 100%;
        border: 1.5rem solid #fff;
        border-radius: .5rem;
        box-shadow:0 .5rem 1rem  rgba(0, 0, 0, 1);
        height: 100%;
        object-fit: cover;
    }
    .about .row .content{
        flex:1 1 40rem;
    }
    .about .row .content h3{
        font-size: 3rem;
        color: #333;
    }
    .about .row .content p{
        font-size: 1.5rem;
        color: #999;
        padding: 5rem 0;
        padding-top: 1rem;
        line-height: 1.5rem;
    }


    .wrapper{
        position: absolute;
        inset: 35% 50% 50% 35%;
        height: 440px;
        width: 400px;
        background:rgba(6, 107, 60, 0.05);
        backdrop-filter: blur(20px);
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow:0 .5rem .5rem rgba(0,0,0,1) ;
        border-radius: 1.5rem;
        border: .1rem solid rgba(0, 0, 0,1);
       overflow: hidden;
       transform: scale(0);
       transition:transform .5s ease, height .2s ease;
       }
    .wrapper.active-popup{
        transform: scale(1);
    }
       .wrapper.active{
        height: 520px;
       }
       .wrapper .form-box{
        width: 100%;
        padding: 40px;
       }
       .wrapper .form-box.login{
        transition: transform .18s ease;
        transform: translateX(0);
        }
        .wrapper.active .form-box.login{
         transition: none;
         transform: translateX(-400px);
        }
       .wrapper .form-box.singin{
        position: absolute;
        transition: none;
        transform: translateX(400px);
       }
      .wrapper.active .form-box.singin{
        transition: transform .18s ease;
        transform: translateX(0);
        }
       .wrapper .icon-close{
        position: absolute;
        top:0;
        right: 0;
        width: 45px;
        height: 45px;
        background: #333;
        font-size: 2rem;
        color: #fff;
        display: flex;
        justify-self: center;
        align-items: center;
        border-bottom-left-radius: 20px;
        cursor: pointer;
        z-index: 1;
       }
       .form-box h2{
        font-size: 2rem;
        color: var(--green);
        text-align: center;
       }
       .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        border-bottom: 2px solid #666;
        margin: 30px 0;
       }
       .input-box label{
        position: absolute;
        top:50%; 
        left: 5px;
        transform: translateY(-50%);
        font-size: 1.3rem;
        color: #333;
        font-weight: 500;
        pointer-events: none;
        transition: .5s;
       }
       .input-box input:focus~label,
       .input-box input:valid~label{
        top: -5px; 
       }
       .input-box input{
        width: 100%;
        height: 100%;
        background: transparent;
        border: none;
        outline: none;
        font-size: 1em;
        color: var(--green);
        font-weight: 600;
        padding: 0 35px 0 5px;
    }
    .input-box .icon{
        position: absolute;
        right: 8px;
        font-size: 1.2rem;
        color: #333;
        line-height: 57px;
    }
    .remember-forgot{
        font-size:1.3rem ;
        color: #333;
        font-weight:500 ;
        margin: -15px 0 15px;
        display: flex;
        justify-content: space-between;
    }
    .remember-forgot label input{
        accent-color: #333;
        margin-right: 3px;
    }
    .remember-forgot a{
        color: var(--green);
        text-decoration: none;
    }
    .remember-forgot a:hover{
        text-decoration: underline;
    }
    .BTN{
        width: 100%;
        height: 45px;
        display: inline-block;
        margin-top: 1rem ;
        border-radius: 5rem;
        background: #333;
        color: #fff;
        padding: .9rem 3.5rem;
        cursor: pointer;
        font-size: 1,7rem;
    
    }
    .BTN:hover{
        background: var(--green);
        transition: background .2s ease;
    }
        
    .login-register{
        font-size: .9rem;
        color: #333;
        text-align: center;
        font-weight: 500;
        margin: 25px 0 10px;
    }
    .login-register p a{
        color: var(--green);
        text-decoration: none;
        font-weight: 600;
    }
    .login-register p a:hover{
        text-decoration: underline;
    }

    



    .container{
        width: 900px;
        max-width: 90px;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        transition: transform .2s;
    }
    .cartTab{
        width: 400px;
        background:rgba(6, 107, 60, 0.09);
        backdrop-filter: blur(20px);
        color: #333;
        position: fixed;
       inset: 0 -400px 0 auto;
        display: grid;
        grid-template-rows:70px lft 70px ;
    }
    body.showCart .cartTab{
        inset: 0 0 0 auto;
    }
    body.showCart .container{
        transform: translate(-250px);
    }
    .cartTab h1{
        padding: 20px;
        margin: 0;
        font-weight: 300;
    }
    .cartTab .Btn{
        display: grid;
        grid-template-columns: repeat(2, 1ft);
    }
    .cartTab .Btn button{
        background-color: var(--green);
        border: none;
        font-family: Poppins;
        font-weight: 500;
        cursor: pointer;
    }
    .cartTab .Btn .close{
        background-color: #eee;
    }
    
    .cartTab .listCart .item img{
        width: 100%;
    }
    .cartTab .listCart .item{
        display: grid;
        grid-template-columns: 70px 150px 50px 1ft;
        gap: 10px;
        text-align: center;
        align-items: center;
    }
    .listCart .quantity span{
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: #eee;
        color: #555;
        border-radius: 50%;
        cursor:pointer;
    }
    .listCart .quantity span:nth-child(2){
        background-color: transparent;
        color: #333;
    }
    .listCart .item:nth-child(even){
        background-color: #eee1;
    }
    .listCart{
        overflow: auto;
    }
    .listCart::-webkit-scrollbar{
        width: 0;
    }







    
    
    
    
    
    
    
    
    @media (max-width:991px) {
        html{
            font-size: 55%;
         }
         header{
            padding:2rem ;
         }
         section{
            padding:2rem ;
         }
         .home{
            background-position: left;
         }
     }
     @media (max-width:768px){
        header .fa-bars{
            display: block;
        }
        header .navbar{
            position: absolute;
            top:100%; left: 0; right: 0;
            background-color: #eee;
            border-top: .1rem solid rgba(0, 0, 0, 1);
            clip-path: polygon(0 0,100% 0,100% 0,0 0);
        }
        header #toggler:checked ~ .navbar{
            clip-path: polygon(0 0,100% 0,100% 0,0 0);
        }
        header .navbar a{
            margin: 1.5rem;
            padding: 1.5rem;
            background: #fff;
            border: 1rem solid rgba(0, 0, 0, 1);
            display: block;
        }
        .home .content h3{
            font-size:5rem;
        }
        .home .content span{
            font-size:2.5rem;
        }
        .icons-container .icons h3{
            font-size: 2rem;
        }
        .icons-container .icons span{
            font-size: 1.7 rem;
        }
     }
     @media (max-width:450px) {
        html{
            font-size: 50%;
         }
         .heading{
            font-size: 3rem;
         }
     }